
@import "./assets/styles/_variables.scss";
@import "./assets/styles/_buttons.scss";
@import "./assets/styles/_typography.scss";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: $primary-color;
    display: flex;
    flex-direction: column;
}

.MyTodos__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5%;
}

.MyTodos__lists {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: $secondary-color;
    border-radius: 5px;
    border: 2px dashed $tertiary-color;
    color: $quaternary-color;
    margin: 20px;
}

.MyTodos__lists--input {
    padding-bottom: 5px;
    width: 80%;
    height: 35px;
    background-color: $secondary-color;
    border-radius: 5px;
    border: none;
    color: $quaternary-color;
    justify-content: center;
    margin: 20px;
}

.MyTodos__lists__task{
    color: $quaternary-color;
    margin: 20px;
    
    >div {
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-start;
        justify-content: space-between;
        border: 1px solid $primary-color;
        background-color: $secondary-color;
        margin-left: 10px;
        height: 40px;
        padding: 5px;

        align-items: center;
        padding-left: 25px;
    }
}

input[type='checkbox']:after{
    content: ' ';
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-top: -4px;
    margin-left: -4px;
    border: 1px solid $quinary-color;
    border-radius: 0.25em;
    background: $secondary-color;
}

input[type='checkbox']:checked:after {
    width: 15px;
        height: 15px;
        content: "✓";
        color: $quaternary-color;
        background-color: $quinary-color;
        text-align: center;
}


.MyTodos__deletion {
    background: $secondary-color;
    padding: 10px;
    align-items: center;
    text-align: center;
    position: fixed;
    bottom: 0px;
    width: 100vw;
    display: none;
}

.MyTodos__deletion_container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}