
@import "./assets/styles/_variables.scss";
@import "./assets/styles/_buttons.scss";
@import "./assets/styles/_typography.scss";

* {
    padding: 0;
    margin: 5px;
    box-sizing: border-box;
}


body {
    background-color: $primary-color;
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5%;
}

.toDo__lists {
    display: flex;
    flex-direction: row;
    background-color: $secondary-color;
    border-radius: 5px;
}

.toDo__input {
    margin-top: 20px;
    padding: 5px;
    width: 250px;
    height: 40px;
    background-color: $secondary-color;
    border-radius: 5px;
    border: 2px dashed $tertiary-color;
    color: $quaternary-color;
}

.toDo_listings{
    color: $quaternary-color;
    
    
    >div {
        border: 1px solid $primary-color;
        background-color: $secondary-color;
        margin: 0px;
        height: 40px;
    }
}