button {
  background-image: linear-gradient(180deg, #e1a0a0, #e58181);
  box-shadow: 0 10px 40px #6B3838;
  color: #FFFF;
  width: 100px;
  height: 60px;
  border-radius: 10px;
  font-size: 16px;
}

button:hover {
  background-image: linear-gradient(180deg, #E2C1C1, #EA8282);
}

.toDo__add {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: #232229;
}

* {
  font-family: "Jost", sans-serif;
}

h1 {
  font-size: 35px;
  color: #FFFF;
  text-align: center;
  padding-top: 30px;
}

h2 {
  font-size: 24px;
  color: #FFFF;
}

p {
  font-size: 16px;
  color: #6C6A7C;
}

.toDo__task {
  padding-top: 40px;
  color: #FFFF;
}

* {
  padding: 0;
  margin: 5px;
  box-sizing: border-box;
}

body {
  background-color: #232229;
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5%;
}

.toDo__lists {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #2B2A33;
  border-radius: 5px;
}

.toDo_container {
  border-radius: 5px;
  border: 2px dashed #6C6A7C;
  color: #FFFF;
  justify-content: center;
  background-color: #2B2A33;
}

.toDo__input {
  margin-top: 20px;
  padding-bottom: 5px;
  width: 80%;
  height: 35px;
  background-color: #2B2A33;
  border-radius: 5px;
  border: none;
  color: #FFFF;
  justify-content: center;
}

.toDo_listings {
  color: #FFFF;
}
.toDo_listings > div {
  display: flex;
  flex-direction: row;
  border: 1px solid #232229;
  background-color: #2B2A33;
  margin: 0px;
  height: 40px;
  padding: 5px;
}

input[type=checkbox]:after {
  content: " ";
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-top: -4px;
  margin-left: -4px;
  border: 1px solid #E58181;
  border-radius: 0.25em;
  background: #2B2A33;
}

input[type=checkbox]:checked:after {
  width: 15px;
  height: 15px;
  background-color: #E58181;
}