* {
    font-family: 'Jost', sans-serif;
}

.MyTodos__hero {
    font-size: 35px;
    color: $quaternary-color;
    text-align: center;
    padding-top: 30px;
}

.MyTodos__logo {
    font-size: 24px;
    color: $quaternary-color;
}

.MyTodos__task__tobedone {
    font-size: 16px;
    color: $quaternary-color;
    margin-left: 20px;
}

p {
    font-size: 16px;
    color: $tertiary-color;
    margin-left: 20px;
}

#toDo__para {
    margin: 20px;
}

.toDo__task {
    padding-top: 40px;
    color: $quaternary-color;
    align-items: center;
}


.toDo__deletion__status {
    color: $quaternary-color;
    align-items: center;
}
