* {
    font-family: 'Jost', sans-serif;
}

h1 {
    font-size: 35px;
    color: $quaternary-color;
    text-align: center;
    padding-top: 30px;
}

h2 {
    font-size: 24px;
    color: $quaternary-color;
}

p {
    font-size: 16px;
    color: $tertiary-color
}